{% extends "myauth/base.html" %}

{% block title %}
    Login
{% endblock %}


{% block body %}
    <form method="post">
        {% csrf_token %}


        {{ form.as_p }}
{#        {% if error %}#}
{#            <p style="color: red">#}
{#                {{ error }}#}
{#            </p>#}
{#        {% endif %}#}
{##}
{#        <p>#}
{#            <label for="username">Username:</label>#}
{#            <input type="text" id="username" name="username" required>#}
{#        </p>#}
{#        <p>#}
{#            <label for="password">Password:</label>#}
{#            <input type="text" id="password" name="password" required>#}
{#        </p>#}

{#        <button type="submit">Вход</button>#}
        <div class="form-actions">
        <button type="submit" class="btn btn-primary">Войти</button>
        <button type="button" onclick="location.href='{% url 'myauth:register' %}'"
                class="btn btn-secondary">
            Регистрация
        </button>
    </div>




    </form>
{% endblock %}