{% extends "myauth/base.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <h1>Register</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        <button type="button" onclick="location.href='{% url 'myauth:login' %}'"
                class="btn btn-secondary">
            Войти
        </button>
{#        <input type="submit" value="Register">#}
    </form>
{% endblock %}

